body{
    margin: 0;
    padding: 0;
}

.mainvideo{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 video{
   height: 300px;
   width: 400px;
   object-fit: cover;
   padding: 8px;
 }
.main{
    height: 100vh;
    display: flex;
}



.mainleft{
    display: flex;
    flex-direction: column;
    flex:0.8;
}
.mainright{
    display: flex;
    flex:0.2;
    flex-direction: column;
    background-color: #242324;
}
.mainHeader{
    color: #f5f5f5;
    text-align: center;
}

.mainControlsBlock{
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    margin-left: 10px;
}
.mainControlButton{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
}
.mainControlButton:hover{
    background-color: #343434;
    border-radius: 5px;
}
.controls{
    background-color: #1C1E20;
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 24px;
}
.leaveMeeting{
    color: #EB534B;
}
.chatWindow{
 flex-grow:1 ;
 overflow-y: scroll;
}
.messageContainer{
    padding: 20px 12px;
    display: flex;
    justify-content: center;
}
.messageContainer input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}
.message{
    color:white;
    list-style: none;
}
.color{
    color:#CC3B33;
}
